.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-self-center {
  align-self: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink {
  flex-shrink: 0;
}

.vertical-bottom {
  vertical-align: bottom;
}