.font-0 {
  font-size: 0;
}

.font-8 {
  font-size: 16rpx;
}

.font-9 {
  font-size: 18rpx;
}

.line-height-4 {
  line-height: 8rpx;
}

.line-height-6 {
  line-height: 12rpx;
}

.line-height-8 {
  line-height: 16rpx;
}

.font-9 {
  font-size: 18rpx;
}

.line-height-9 {
  font-size: 18rpx;
}

.font-10 {
  font-size: 20rpx;
}

.line-height-10 {
  line-height: 20rpx;
}

.font-11 {
  font-size: 22rpx;
}

.line-height-11 {
  line-height: 22rpx;
}

.font-12 {
  font-size: 24rpx;
}

.line-height-12 {
  line-height: 24rpx;
}

.font-13 {
  font-size: 26rpx;
}

.line-height-13 {
  line-height: 26rpx;
}

.font-14 {
  font-size: 28rpx;
}

.line-height-14 {
  line-height: 28rpx;
}

.font-15 {
  font-size: 30rpx;
}

.line-height-15 {
  line-height: 30rpx;
}

.font-16 {
  font-size: 32rpx;
}

.line-height-16 {
  line-height: 32rpx;
}

.font-17 {
  font-size: 34rpx;
}

.line-height-17 {
  line-height: 34rpx;
}

.font-18 {
  font-size: 36rpx;
}

.line-height-18 {
  line-height: 36rpx;
}

.font-19 {
  font-size: 38rpx;
}

.line-height-19 {
  line-height: 38rpx;
}

.font-20 {
  font-size: 40rpx;
}

.line-height-20 {
  line-height: 40rpx;
}

.font-21 {
  font-size: 42rpx;
}

.line-height-21 {
  line-height: 42rpx;
}

.font-22 {
  font-size: 44rpx;
}

.line-height-22 {
  line-height: 44rpx;
}

.font-23 {
  font-size: 46rpx;
}

.line-height-23 {
  line-height: 46rpx;
}

.font-24 {
  font-size: 48rpx;
}

.line-height-24 {
  line-height: 48rpx;
}

.line-height-25 {
  line-height: 50rpx;
}

.font-26 {
  font-size: 52rpx;
}

.line-height-26 {
  line-height: 52rpx;
}

.font-28 {
  font-size: 56rpx;
}

.line-height-28 {
  line-height: 56rpx;
}

.font-29 {
  font-size: 58rpx;
}

.line-height-29 {
  line-height: 58rpx;
}

.font-30 {
  font-size: 60rpx;
}

.line-height-30 {
  line-height: 60rpx;
}

.line-height-31 {
  line-height: 62rpx;
}

.font-32 {
  font-size: 64rpx;
}

.line-height-32 {
  line-height: 64rpx;
}

.font-33 {
  font-size: 66rpx;
}

.line-height-33 {
  line-height: 66rpx;
}

.font-36 {
  font-size: 72rpx;
}

.line-height-36 {
  line-height: 72rpx;
}

.font-40 {
  font-size: 80rpx;
}

.line-height-40 {
  line-height: 80rpx;
}

.line-height-41 {
  line-height: 82rpx;
}

.font-42 {
  font-size: 84rpx;
}

.line-height-44 {
  line-height: 88rpx;
}

.font-48 {
  font-size: 96rpx;
}

.line-height-48 {
  line-height: 96rpx;
}

.font-60 {
  font-size: 120rpx;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-800 {
  font-weight: 800;
}