.icon-8 {
  width: 16rpx;
  height: 16rpx;
}

.icon-10 {
  width: 20rpx;
  height: 20rpx;
}

.icon-12 {
  width: 24rpx;
  height: 24rpx;
}

.icon-14 {
  width: 28rpx;
  height: 28rpx;
}

.icon-16 {
  width: 32rpx;
  height: 32rpx;
}

.icon-18 {
  width: 36rpx;
  height: 36rpx;
}

.icon-24 {
  width: 48rpx;
  height: 48rpx;
}
